<span style='color: #900'>10,240 KB</span>    <span style='color: #090'>390.0011 ms</span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 131</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 131<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 73<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 481<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\dompdf\include\dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\application\khz_sariraya\laporan_staff\controllers\Laporan_staff.php<br />
			Line: 45<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\wp_ci2\hmvc-khz\index.php<br />
			Line: 334<br />
			Function: require_once			</p>

		
	

</div>